footer {
    position: absolute;
    top: 300vh;
    width: 99vw;
    color: white;
    background-color: rgb(69, 69, 69);
}
.office-info,
.widget-title {
    display: flex;
    justify-content: center;
}
#footertext {
    text-align: center;
}

#list {
    display: flex;
    justify-content: center;
    color: white;
}


.Info_Container {
    text-align: center;
}

.background {
    background-color: #343434;
    color: #fff;
    padding: 25px 20px 40px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 23px;
}