.projecten{
    position: relative;
    top: 20vh;
    background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 14vh;
}

.section-title-wrap {
    position: relative;
    overflow: hidden;
}
.project-items{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

ul{
    position: relative;
    display: flex;
    padding: 10px;
    height: 5vh;
}

li{
    padding: 20px;

}
a{
    text-decoration: none;
    color: grey;
}